<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css">

  <title>Home</title>
</head>
<body>
  <div>
    {% block content%}
    <h1>Welcome! What is your name?</h1>
    Name: <input type="text"></input>
    <button>Submit</button>
    <p>Hello, {{ name }}
    {% endblock %}
    </p>
    <p class="main_content">Lorem ipsum dolor sit, amet consectetur 
      adipisicing elit. Unde animi, neque voluptate velit corrupti ducimus
       accusamus ea vel eius qui at tempore pariatur quis possimus nulla 
       odio iure consectetur distinctio.</p>
  </div>
  <script 
    type="text/javascript" 
    src="{{ url_for('static', filename='index.js')}}">
  </script>
</body>
</html>